# ENV
.env

# Node
node_modules
package-lock.json

# Build files
/public/css/style.css

# OS / Editor
.DS_Store
Thumbs.db

# VSCode
.vscode

# Logs
*.log

# Uploads - Chỉ giữ file .gitkeep, không push file upload thật
/uploads/*
!/uploads/products/.gitkeep
!/uploads/categories/.gitkeep
!/uploads/settings/.gitkeep
!/uploads/users/.gitkeep
!/uploads/temp/.gitkeep